<h1 align="center"> NSE/BSE Arbitrage Recommendation System </h1>
<hr>
<br>
<h2 align="center">Arbitrage Options</h2>
<hr>
<br>


<table mat-table [dataSource]="dataSource" class="mat-elevation-z8" ng>-->

  <!--- Note that these columns can be defined in any order.
        The actual rendered columns are set as a property on the row definition" -->

  <!-- Position Column --> 
  <ng-container matColumnDef="position">
    <th mat-header-cell *matHeaderCellDef> No. </th>
    <td mat-cell *matCellDef="let element"> {{element.position}} </td>
  </ng-container>

  <!-- Name Column -->
  <ng-container matColumnDef="name">
    <th mat-header-cell *matHeaderCellDef> Name </th>
    <td mat-cell *matCellDef="let element"> {{element.name}} </td>
  </ng-container>

  <!-- Weight Column -->
  <ng-container matColumnDef="NSE">
    <th mat-header-cell *matHeaderCellDef> NSE</th>
    <td mat-cell *matCellDef="let element"> {{element.NSE}} </td>
  </ng-container>

  <!-- Symbol Column -->
  <ng-container matColumnDef="BSE">
    <th mat-header-cell *matHeaderCellDef> BSE </th>
    <td mat-cell *matCellDef="let element"> {{element.BSE}} </td>
  </ng-container>

<ng-container matColumnDef="difference">
    <th mat-header-cell *matHeaderCellDef> difference</th>
    <td mat-cell *matCellDef="let element"> {{element.difference}} </td>
  </ng-container>

  <ng-container matColumnDef="save">
    <th mat-header-cell *matHeaderCellDef> Save</th>
    <td mat-cell *matCellDef="let element"> <button mat-raised-button color="primary" (click)="getRecord(element.name)">Save</button> </td>
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table> 

